body {
  margin: 0;
}

:root {
  --primary: #8f61c7;
  --gray: #676869;
  --light_gray: #ebedf0;
  --white: #ffffff;
  --black: #000000;
}

input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

.link{
  color: inherit;
}
